<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js"></script>

</head>
<body>
    
   <div class="main" id="main">
        
    <input type="text" id="usernameInput" aria-label="usernameInput" placeholder="Entre your name">
    <textarea id="postInput" name="multiline-input" aria-label="post"></textarea>
    <button id="postBtn">POST</button>
   </div>


   <div class="header">
     <h1>Posts Feed</h1>
      <button class="add" id="add">+</button>
  </div>

   <div id="posts">

     <!--posts here-->


 
{% for key in keys  %}
 
      <div class="post">
        <h3 id="username">@{{ posts[key]['username'] }}</h3>
        <p id="postText">{{ posts[key]['postText'] }}</p>
        <p class="time">{{ posts[key]['time'] }}</p>
      </div>

{% endfor %}

 
   </div> 

  

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>